/* ==========================================
   TOOLTIP
========================================== */

.ui-tooltip-wrapper{

    position:relative;

    display:inline-flex;

    align-items:center;

}

.ui-tooltip{

    position:absolute;

    pointer-events:none;

    opacity:0;

    visibility:hidden;

    transition:all var(--transition-fast);

    background: #111827;
    color: #ffffff;

    padding:8px 12px;

    border-radius:var(--radius-sm);

    font-size:.8rem;

    font-weight:500;

    z-index: 9999;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    max-width: 220px;
    white-space: normal; /* better for your password rules */

}

/* Show */

.ui-tooltip-wrapper:hover .ui-tooltip{

    opacity:1;

    visibility:visible;

}

/* Top */

.ui-tooltip-top{

    bottom:calc(100% + 10px);

    left:50%;

    transform:translateX(-50%);

}

/* Bottom */

.ui-tooltip-bottom{

    top:calc(100% + 10px);

    left:50%;

    transform:translateX(-50%);

}

/* Left */

.ui-tooltip-left{

    right:calc(100% + 10px);

    top:50%;

    transform:translateY(-50%);

}

/* Right */

.ui-tooltip-right{

    left:calc(100% + 10px);

    top:50%;

    transform:translateY(-50%);

}