# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# Logs
*.log

# Testing
.pytest_cache/

# Database
*.db

# OS
.DS_Store

# Alembic cache
alembic/versions/__pycache__/

# Docker
*.pid

# ML models
*.pkl

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# Mypy
.mypy_cache/

frontend/node_modules/

frontend/dist/