.container {
  width: min(100%, var(--container-width));
  margin: auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}